# Join of Consumer Price Index, EIA, & Inflation Datasets

The following notebook is to create the final dataset to be used for the remainder of this project. I am now joining the cleaned Consumer Price Index, EIA Api, and Inflation datasets. This will be exported to its final CSV at the end.

In [1]:
# libraries to be used to complete work
import pandas as pd
# import numpy as np
# import statsmodels.api as sm
# import pylab
# import matplotlib.pyplot as plt
# import scipy.stats as stats

Reading in the prior cleaned datasets of CPI and EIA

In [4]:
cpi = pd.read_csv(r'C:\Users\stanl\Regis Practicum_1\CPI_cleaned.csv')
eia = pd.read_csv(r'C:\Users\stanl\Regis Practicum_1\EIA.csv')

In [6]:
# Preview of EIA
eia.head()

   Unnamed: 0        Date  Resi_Gas  Elect_Price
0           0  1990-01-01      5.43          NaN
1           1  1990-02-01      5.65          NaN
2           2  1990-03-01      5.60          NaN
3           3  1990-04-01      5.64          NaN
4           4  1990-05-01      6.00          NaN

In [8]:
# preview of CPI
cpi.head()

,Unnamed: 0,Date,Bacon Original Data Value,Bacon 1-Month Percent Change,Bacon 3-Month Percent Change,Bacon 12-Month Percent Change,Bananas Original Data Value,Bananas 1-Month Percent Change,Bananas 3-Month Percent Change,Bananas 12-Month Percent Change,...,Fuel_Oil_#2 3-Month Percent Change,Fuel_Oil_#2 12-Month Percent Change,Gasoline_all_types Original Data Value,Gasoline_all_types 1-Month Percent Change,Gasoline_all_types 3-Month Percent Change,Gasoline_all_types 12-Month Percent Change,Gasoline_unleaded Original Data Value,Gasoline_unleaded 1-Month Percent Change,Gasoline_unleaded 3-Month Percent Change,Gasoline_unleaded 12-Month Percent Change
0,0,1990-01-01,1.966,0.5,11.2,8.9,0.429,3.1,-0.7,8.9,...,41.9,42.6,1.090,5.8,1.8,15.5,1.042,6.3,1.5,13.5
1,1,1990-02-01,2.009,2.2,10.4,11.7,0.492,14.7,13.1,18.6,...,12.0,15.2,1.086,-0.4,3.8,13.7,1.037,-0.5,3.8,12.0
2,2,1990-03-01,1.991,-0.9,1.8,11.4,0.500,1.6,20.2,11.1,...,0.9,10.8,1.076,-0.9,4.5,10.5,1.023,-1.4,4.4,8.8
3,3,1990-04-01,1.979,-0.6,0.7,13.3,0.481,-3.8,12.1,-8.0,...,-23.1,7.1,1.096,1.9,0.6,-0.2,1.044,2.1,0.2,-2.0
4,4,1990-05-01,2.044,3.3,1.7,21.7,0.462,-4.0,-6.1,-11.5,...,-6.9,7.3,1.114,1.6,2.6,-3.3,1.061,1.6,2.3,-5.2

In [9]:
# Dropping the column that represented a prior index when index reset was used.
cpi.drop('Unnamed: 0', axis=1, inplace=True)
eia.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
eia.sort_values('Date')

           Date  Resi_Gas  Elect_Price
0    1990-01-01      5.43          NaN
1    1990-02-01      5.65          NaN
2    1990-03-01      5.60          NaN
3    1990-04-01      5.64          NaN
4    1990-05-01      6.00          NaN
..          ...       ...          ...
375  2021-04-01     12.25        13.76
376  2021-05-01     14.13        13.71
377  2021-06-01     17.73        13.85
378  2021-07-01     19.94        13.90
379  2021-08-01     20.96        13.99

[380 rows x 3 columns]

The merge is ready to be done on the Date of each dataset.

In [12]:
eia_cpi = pd.merge(eia, cpi, on='Date', how='left')

In [13]:
# Confirm the merge
eia_cpi.head()

,Date,Resi_Gas,Elect_Price,Bacon Original Data Value,Bacon 1-Month Percent Change,Bacon 3-Month Percent Change,Bacon 12-Month Percent Change,Bananas Original Data Value,Bananas 1-Month Percent Change,Bananas 3-Month Percent Change,...,Fuel_Oil_#2 3-Month Percent Change,Fuel_Oil_#2 12-Month Percent Change,Gasoline_all_types Original Data Value,Gasoline_all_types 1-Month Percent Change,Gasoline_all_types 3-Month Percent Change,Gasoline_all_types 12-Month Percent Change,Gasoline_unleaded Original Data Value,Gasoline_unleaded 1-Month Percent Change,Gasoline_unleaded 3-Month Percent Change,Gasoline_unleaded 12-Month Percent Change
0,1990-01-01,5.43,NaN,1.966,0.5,11.2,8.9,0.429,3.1,-0.7,...,41.9,42.6,1.090,5.8,1.8,15.5,1.042,6.3,1.5,13.5
1,1990-02-01,5.65,NaN,2.009,2.2,10.4,11.7,0.492,14.7,13.1,...,12.0,15.2,1.086,-0.4,3.8,13.7,1.037,-0.5,3.8,12.0
2,1990-03-01,5.60,NaN,1.991,-0.9,1.8,11.4,0.500,1.6,20.2,...,0.9,10.8,1.076,-0.9,4.5,10.5,1.023,-1.4,4.4,8.8
3,1990-04-01,5.64,NaN,1.979,-0.6,0.7,13.3,0.481,-3.8,12.1,...,-23.1,7.1,1.096,1.9,0.6,-0.2,1.044,2.1,0.2,-2.0
4,1990-05-01,6.00,NaN,2.044,3.3,1.7,21.7,0.462,-4.0,-6.1,...,-6.9,7.3,1.114,1.6,2.6,-3.3,1.061,1.6,2.3,-5.2

Quick check of null values for later.

In [14]:
sort = eia_cpi.isnull().sum()/len(eia_cpi)*100

In [15]:
sort.sort_values(ascending=False)

Oranges 3-Month Percent Change               36.052632
Elect_Price                                  34.736842
Oranges 1-Month Percent Change               27.894737
Oranges 12-Month Percent Change              26.315789
Oranges Original Data Value                  22.368421
                                               ...
Bread 12-Month Percent Change                 0.000000
Eggs Original Data Value                      0.000000
Eggs 1-Month Percent Change                   0.000000
Eggs 3-Month Percent Change                   0.000000
Gasoline_unleaded 12-Month Percent Change     0.000000
Length: 63, dtype: float64

Load, drop unnamed and merge Inflation dataset which represents historical inflation rate.

In [16]:
inf = pd.read_csv('historic_inflation.csv')
inf.drop('Unnamed: 0', axis=1, inplace=True)

In [17]:
eia_cpi_inf = pd.merge(eia_cpi, inf, on='Date', how='left')

Confirm and review datatypes

In [12]:
eia_cpi_inf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 379
Data columns (total 64 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        380 non-null    object
 1   Resi_Gas                                    380 non-null    float64
 2   Elect_Price                                 248 non-null    float64
 3   Bacon Original Data Value                   380 non-null    float64
 4   Bacon 1-Month Percent Change                380 non-null    float64
 5   Bacon 3-Month Percent Change                380 non-null    float64
 6   Bacon 12-Month Percent Change               380 non-null    float64
 7   Bananas Original Data Value                 380 non-null    float64
 8   Bananas 1-Month Percent Change              380 non-null    float64
 9   Bananas 3-Month Percent Change              380 non-null    float64
 10  Bananas 12-Month Percent Change             380 non-null    float64
 11  Bread Original Data Value                   380 non-null    float64
 12  Bread 1-Month Percent Change                380 non-null    float64
 13  Bread 3-Month Percent Change                380 non-null    float64
 14  Bread 12-Month Percent Change               380 non-null    float64
 15  Chicken Original Data Value                 379 non-null    float64
 16  Chicken 1-Month Percent Change              378 non-null    float64
 17  Chicken 3-Month Percent Change              378 non-null    float64
 18  Chicken 12-Month Percent Change             378 non-null    float64
 19  Coffee Original Data Value                  340 non-null    float64
 20  Coffee 1-Month Percent Change               336 non-null    float64
 21  Coffee 3-Month Percent Change               332 non-null    float64
 22  Coffee 12-Month Percent Change              316 non-null    float64
 23  Eggs Original Data Value                    380 non-null    float64
 24  Eggs 1-Month Percent Change                 380 non-null    float64
 25  Eggs 3-Month Percent Change                 380 non-null    float64
 26  Eggs 12-Month Percent Change                380 non-null    float64
 27  Flour Original Data Value                   379 non-null    float64
 28  Flour 1-Month Percent Change                378 non-null    float64
 29  Flour 3-Month Percent Change                378 non-null    float64
 30  Flour 12-Month Percent Change               378 non-null    float64
 31  Milk Original Data Value                    314 non-null    float64
 32  Milk 1-Month Percent Change                 313 non-null    float64
 33  Milk 3-Month Percent Change                 311 non-null    float64
 34  Milk 12-Month Percent Change                302 non-null    float64
 35  Oranges Original Data Value                 295 non-null    float64
 36  Oranges 1-Month Percent Change              274 non-null    float64
 37  Oranges 3-Month Percent Change              243 non-null    float64
 38  Oranges 12-Month Percent Change             280 non-null    float64
 39  Rice Original Data Value                    355 non-null    float64
 40  Rice 1-Month Percent Change                 353 non-null    float64
 41  Rice 3-Month Percent Change                 351 non-null    float64
 42  Rice 12-Month Percent Change                342 non-null    float64
 43  Tomatoes Original Data Value                377 non-null    float64
 44  Tomatoes 1-Month Percent Change             375 non-null    float64
 45  Tomatoes 3-Month Percent Change             374 non-null    float64
 46  Tomatoes 12-Month Percent Change            374 non-null    float64
 47  Electricity_CPI Original Data Value         380 non-null    float64
 48  Electricity_CPI 1-Month Percent Change      380 non-null    float64
 49  Electricity_CPI 3-Month Percent Change      380 non-null    float64
 50  Electricity_CPI 12-Month Percent Change     380 non-null    float64
 51  Fuel_Oil_#2 Original Data Value             380 non-null    float64
 52  Fuel_Oil_#2 1-Month Percent Change          380 non-null    float64
 53  Fuel_Oil_#2 3-Month Percent Change          380 non-null    float64
 54  Fuel_Oil_#2 12-Month Percent Change         380 non-null    float64
 55  Gasoline_all_types Original Data Value      380 non-null    float64
 56  Gasoline_all_types 1-Month Percent Change   380 non-null    float64
 57  Gasoline_all_types 3-Month Percent Change   380 non-null    float64
 58  Gasoline_all_types 12-Month Percent Change  380 non-null    float64
 59  Gasoline_unleaded Original Data Value       380 non-null    float64
 60  Gasoline_unleaded 1-Month Percent Change    380 non-null    float64
 61  Gasoline_unleaded 3-Month Percent Change    380 non-null    float64
 62  Gasoline_unleaded 12-Month Percent Change   380 non-null    float64
 63  Inflation                                   380 non-null    float64
dtypes: float64(63), object(1)
memory usage: 193.0+ KB

### Export final CSV

In [13]:
eia_cpi_inf.to_csv('EIA_CPI_INF.csv')